<div>
  <div *ngIf="cards">
    <div *ngFor="let c of cards" class="wrapper">
        <app-credit-card
          [backgroundHeader]="c?.headerColor ? c?.headerColor : ''"
          [backgroundFooter]="c?.footerColor"
          [patternHeader]="c?.headerPattern ? c?.headerPattern : ''"
          [pattern]="c.headerPattern!== '' ? truePattern == true :  truePattern == false"
        ></app-credit-card>
      </div>
  </div>

  <div *ngIf="!cards.length" class="not-found">
    <h2 >
        No Cards Created Yet!
    </h2>

    <a routerLink="/home"><h3>Click here to create one!</h3></a>
  </div>
</div>
