<div>
  <div *ngIf="cards">
    <div *ngFor="let c of cards" class="wrapper">
        <app-credit-card
          [backgroundFooter]="c.footerColor"
          [backgroundHeader]="
            'linear-gradient(90deg, ' + c.headerColor + ' 0%, #000851 100%)'
          "
          [patternHeader]="c?.headerPattern"
        ></app-credit-card>
      </div>
  </div>

  <div *ngIf="!cards.length" class="not-found">
    <h2 >
        No Cards Created Yet!
    </h2>

    <a routerLink="/home"><h3>Click here to create one!</h3></a>
  </div>
</div>
