.container {
    text-align: center;
}
<<<<<<< HEAD

header {
    background-color: black;
=======
.card-container{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    
>>>>>>> ilaria
}