/* .container {
  text-align: center;
} */

header {
  background-color: black;
  color: aqua;
}

.card-container {
  width: 80%;
  /* height: 200px; */
  margin: 0 auto;
  border-radius: 10px;
}

.theme-selector-wrapper {
  background-color: rgb(249 249 249);
}
