.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
  color: aqua;
}

.credit-card {
  position: relative;
  width: 100%;
  top: -78px;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.theme-selector-wrapper {
  background-color: rgb(249 249 249);
}

.arrow {
  position: absolute;
  bottom: 46px;
  right: 29px;
  z-index: 2;
}

.blob {
    position: absolute;
    bottom: -53px;
    width: 259px;
    fill: black;
    right: -168px;
}

.pl-2 {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

button {
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    border: 1px solid aqua;
}

.pb {
    padding-bottom: 1rem;
}
